/* Section.css */

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    background-image: url('../images/bgs.png'); /* Add background image */
    background-size: cover; /* Ensure the image covers the whole container */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }
  
  .section-heading {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
  }
  
  .queue-heading {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
  }
  
  li {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    outline: 3px solid black; /* Add a black outline */
    outline-offset: 5px; /* Create space between the outline and item */
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7); /* White shadow around items */
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    margin-left: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  